@import '../functions.scss';

.weather {
  position: relative;
  padding: rem-calc(0 16);
  margin-left: rem-calc(16);
  font-family: 'Comfortaa', cursive;

  .row {
    align-items: center;
  }
  .temperature {
    font-size: rem-calc(24);
    margin-left: rem-calc(16);
  }

  .weather-row {
    padding-bottom: 0;
  }
  .city-row {
    padding-top: 0;
  }
}
