@import "../functions.scss";

.App {
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  padding: rem-calc(10 30);
}

.row-center {
  justify-content: center;
}

.pddtop {
  padding-top: rem-calc(32);
}

.pddbot {
  padding-bottom: rem-calc(32);
}

@media all and (max-width: 640px){
  .row {
    flex-direction: column;
    padding: rem-calc(30 15);
  }
}