@import '../functions.scss';

.clock {
  position: relative;
  padding: rem-calc(0 16);
  font-family: 'Comfortaa', cursive;

  &-inner {
    text-align: center;
    font-size: rem-calc(76);
  }

  &-separator {
    animation: wink 1s infinite ;
  }

  .date-inner {
    text-align: center;
    font-size: rem-calc(24);
  }

  p {
    margin: 0;
  }
}

@keyframes wink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
