@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #010012;
  color: #c9c9c9;
}

html, body, #root {
  height: 100%;
}